﻿<div class="container">
    <h3 ng-if="authError" class="centered error">Error: {{authError}}</h3>
    <form id="auth" ng-submit="login(username, password)">
        <h2 class="heading">Sign In</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input ng-model="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>
    </form>
</div>