﻿<div class="container">
    <h3 ng-if="authError" class="centered error">Error: {{authError}}</h3>
    <form id="auth" ng-submit="register(username, password, confirmPassword)">
        <h2 class="heading">Register</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input ng-model="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="password" type="password" id="inputPassword" class="form-control password" placeholder="Password" required>
        <label for="confirmPassword" class="sr-only">Password</label>
        <input ng-model="confirmPassword" type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
    </form>
</div>