﻿<nav ng-controller="navbarController" class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="dropdown" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">GivingData Test</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="currentUser.isAuthenticated"><a href="#">Hello, {{currentUser.username}}!</a></li>
            <li ng-if="currentUser.isAuthenticated"><a href="#" ng-click="logout()">Logout</a></li>
            <li ng-if="!currentUser.isAuthenticated"><a href="/register">Register</a></li>
            <li ng-if="!currentUser.isAuthenticated"><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>