﻿<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<head>
    <base href="/">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width"/>
    <title>GivingData Test</title>
    @Styles.Render("~/Content/Styles/css")
</head>
<body>
    <div ng-include src="'Content/Templates/common/navbar.html'"></div>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/app")
</body>
</html>
