﻿.nav, .pagination, .carousel, .panel-title a {
     cursor: pointer;
}

form#auth {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

form#auth > .heading {
    margin-bottom: 10px;
}

form#auth .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

form#auth .form-control:focus {
    z-index: 2;
}

form#auth input {
    margin-bottom: 1rem;
}

.book-search {
    margin-bottom: 4rem;
}

.book {
    margin-top: 4rem;
}

.error {
    color: crimson;
}

.centered {
    text-align: center;
}