﻿<div ng-if="!currentUser.isAuthenticated">
    <h2>You are not logged in!</h2>
    <p class="text-muted">In order to search for books, please register or log in.</p>
</div>
<div ng-if="currentUser.isAuthenticated">
    <h2>Find Books</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group book-search">
                <input ng-model="searchTerm" ng-enter="findBooks(searchTerm)" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button ng-click="findBooks(searchTerm)" class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <div ng-if="books" class="row">
        <div class="text-muted">{{positionText}}</div>
        <div ng-repeat="book in books" class="media book">
            <div class="media-left">
                <img class="media-object" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{book.volumeInfo.title}}</h4>
                <p class="text-muted">Published in {{book.volumeInfo.publishedDate}}</p>
                {{book.volumeInfo.description}}
            </div>
        </div>
        <nav>
            <ul class="pager">
                <li ng-if="canDisplayPreviousPage"><a ng-click="previousPage(searchTerm)" href="#">Previous</a></li>
                <li><a ng-click="nextPage(searchTerm)" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>